@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navBtn {
    @apply transition-all duration-150 ease-out cursor-pointer h-7 md:inline-flex hover:scale-125;
  }
  .btn {
    @apply transition-all duration-150 ease-out cursor-pointer h-7 hover:scale-125;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
